body {
    opacity: 0;
    height: 100vh;
    color: #fff;
    background-color: #061734;
    /* 浏览器不支持时显示 */
    /* background-image: linear-gradient(#413875, #9198e5); */
}
.datetimepicker{
    color: #333;
}

.wrapper {
    width: 100vw;
    height: 100vh;
    display: -webkit-box;
    display: flex;
}

/* 通用样式 start */

.common-box {
    background: rgba(19, 41, 78, 0.32);
    border: 1px solid rgba(37, 64, 109, 1);
    box-sizing: border-box;
    padding: .1rem;
    color: #fff;
}

.color-green {
    color: #1ABC58 !important;
}

.color-red {
    color: #FE4744 !important;
}

.clearfix {
    overflow: hidden;
}

.font-title {
    font-size: .2rem;
    margin-right: .1rem;
}

/* 每个区域的头部栏 */

.title-tab {
    font-size: .14rem;
    color: #aaa;
    cursor: pointer;
}

.title-tab-line {
    font-size: .14rem;
    color: #ccc;
}

.title-tab.active {
    color: #49E3C2;
    cursor: default;
}

.box-title-right {
    float: right;
    color: #ccc;
    margin-top: .01rem;
}

.title-num {
    font-size: .18rem;
    color: #FE4744;
}

.title-info {
    font-size: .12rem;
    text-align: right;
    margin-bottom: .1rem;
}

.title-info>span {
    margin-left: .15rem;
}

.info-num.span {
    margin-left: .15rem;
}

/* 内容区的tab */

.data-tab {
    margin-top: .1rem;
}

.data-tab .title-tab {
    font-size: .18rem;
}

/* 列表 */

.list {
    line-height: .25rem;
}

.list-item {
    display: -webkit-box;
    display: flex;
    height: .2rem;
    line-height: .2rem;
    margin: .06rem 0;
}

.list-header {
    background: #23447C;
    opacity: .7;
    height: .32rem;
    line-height: .32rem;
}

.list-item-td {
    -webkit-box-flex: 1;
    flex: 1;
    text-align: right;
    padding: 1px .05rem 0 .05rem;
    box-sizing: border-box;
    vertical-align: middle;
    position: relative;
}

.list-item-td:first-child {
    text-align: left;
}

/* 箭头图标  */

.icon-up::after {
    position: absolute;
    top: .03rem;
    content: '';
    display: inline-block;
    margin-left: .01rem;
    width: .11rem;
    height: .14rem;
    background: url(../images/up.png) no-repeat;
    background-size: contain;
}

.icon-down::after {
    position: absolute;
    top: .04rem;
    content: '';
    display: inline-block;
    margin-left: .01rem;
    width: .11rem;
    height: .14rem;
    background: url(../images/down.png) no-repeat;
    background-size: contain;
}

/* 滚动条样式 */

::-webkit-scrollbar {
    width: 4px;
    /*height: 4px;*/
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    background: rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 0;
    background: rgba(0, 0, 0, 0.1);
}

/* 通用样式 end */

/* 左侧区域 start */

.left-box {
    width: 5.28rem;
    height: 98vh;
    margin: .1rem;
}

/* 欠费 */

.arrears {
    height: 2.63rem;
}

.arrears-chart {
    width: 2.58rem;
    height: 1.5rem;
    float: left;
    margin-top: .38rem;
    color: #fff;
}

.arrears-list {
    width: 2.1rem;
    height: 1.5rem;
    float: right;
    margin-top: .38rem;
}

.arrears-list-item {
    display: -webkit-box;
    display: flex;
    line-height: .3rem;
    font-size: .14rem;
}

.arrears-locaction {
    width: .8rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.arrears-count {
    display: -webkit-box;
    display: flex;
    margin-left: .05rem;
}

.arrears-count>.arrears-count-left-text {
    width: .6rem;
}

.arrears-count>.arrears-num {
    margin-left: .05rem;
    text-align: right;
    width: .55rem;
    display: inline-block;
}

/* 收缴率 */

.collection {
    margin-top: .1rem;
}

.collection .collection-container {
    display: -webkit-box;
    display: flex;
}

.collection-chart {
    width: 2.22rem;
    -webkit-box-flex: 1;
    flex: 1;
    margin: 0 .1rem;
}

.bar-percent-wrapper {
    position: relative;
    width: 100%;
    height: .22rem;
    background: #115640;
    margin-bottom: .1rem;
}

.red-chart .bar-percent-wrapper {
    background: #5F0813;
}

.bar-percent-wrapper:last-child {
    margin: 0
}

.bar-percent-wrapper>span {
    position: absolute;
    line-height: .22rem;
    color: #fff;
}

.bar-percent-wrapper>.location {
    left: 10px;
}

.bar-percent-wrapper>.percent-text {
    right: 10px;
}

.bar-percent {
    width: 100px;
    height: 100%;
    background: #1ABC58;
}

.red-chart .bar-percent {
    background: #FA493F;
}

/* 开业率和签约率 */

.practiceAndSigning {
    height: 5.21rem;
    margin-top: .1rem;
    box-sizing: border-box;
    padding: 0;
    font-size: .14rem;
    position: relative;
}

.practiceAndSigning>div {
    padding: .2rem;
    position: relative;
    box-sizing: content-box;
}

.practiceAndSigning .practice {
    height: 2.2rem;
}

.practiceAndSigning .signing {
    height: 2rem;
}

.practice-location, .signing-location {
    width: .65rem;
    position: absolute;
}

.practice-location {
    top: .72rem;
    width: 1rem;
}

.signing-location {
    top: .2rem;
    width: 1rem;
}

.practice-location {
    height: 1.25rem;
}

.practice-location>.practice-location-item {
    margin-bottom: .1rem;
    box-sizing: content-box;
}
.practice-left {
    left: .2rem;
}

.practice-right {
    right: .2rem;
}

.signing-title-box {
    position: absolute;
    bottom: .2rem;
    left: .2rem;
    right: .2rem;
}

.signing-title-box .title-info {
    margin: 0;
}

/* 怪异图表 */

.practiceAndSigning .chart-wrapper {
    position: absolute;
    left: 50%;
    top: 50%;
    /* -webkit-transform: translate(-50%, -50%); */
    transform: translate(-50%, -50%);
    width: 100%;
}

.chart-box {
    margin: 0 auto;
    width: 100%;
    height: 1.4rem;
    position: relative;
}

/* .chart-box:first-child {
    border-bottom: 1px solid rgba(37, 64, 109, 1) 
} */
.chart-box:first-child::before{
    content: '';
    height: 1px;
    position: absolute;
    bottom: -1px;
    width: 100%;
    background: rgba(37, 64, 109, 1);
}

.chart-box.c2 {
    -webkit-transform: rotateZ(180deg);
    transform: rotateZ(180deg);
}

.chart-item {
    width: 0;
    height: 0;
    border-top: 1.rem solid black;
    border-right: .1rem solid transparent;
    border-left: .1rem solid transparent;
    -webkit-transform-origin: 50% 1rem;
    transform-origin: 50% 1rem;
    position: absolute;
    bottom: 0;
    left: 50%;
}

.chart-item-down {
    border-top: none;
    border-bottom: 1rem solid black;
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
    top: 0;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

/* 每个偏移单位为18度 */

.r1 {
    -webkit-transform: translateX(-50%) rotate(-82deg);
    transform: translateX(-50%) rotate(-82deg);
    border-top: 1rem solid #F5A623;
}

.r2 {
    -webkit-transform: translateX(-50%) rotate(-64deg);
    transform: translateX(-50%) rotate(-64deg);
    border-top: 1rem solid #F8E71C;
}

.r3 {
    -webkit-transform: translateX(-50%) rotate(-46deg);
    transform: translateX(-50%) rotate(-46deg);
    border-top: 1rem solid #5AB46E;
}

.r4 {
    -webkit-transform: translateX(-50%) rotate(-28deg);
    transform: translateX(-50%) rotate(-28deg);
    border-top: 1rem solid #50E3C2;
}

.r5 {
    -webkit-transform: translateX(-50%) rotate(-10deg);
    transform: translateX(-50%) rotate(-10deg);
    border-top: 1rem solid #4A90E2;
}

.r6 {
    -webkit-transform: translateX(-50%) rotate(8deg);
    transform: translateX(-50%) rotate(8deg);
    border-top: 1rem solid #6C7D92;
}

.r7 {
    -webkit-transform: translateX(-50%) rotate(26deg);
    transform: translateX(-50%) rotate(26deg);
    border-top: 1rem solid #6C7D92;
}

.r8 {
    -webkit-transform: translateX(-50%) rotate(44deg);
    transform: translateX(-50%) rotate(44deg);
    border-top: 1rem solid #6C7D92;
}

.r9 {
    -webkit-transform: translateX(-50%) rotate(62deg);
    transform: translateX(-50%) rotate(62deg);
    border-top: 1rem solid #6C7D92;
}

.r10 {
    -webkit-transform: translateX(-50%) rotate(80deg);
    transform: translateX(-50%) rotate(80deg) scale(0.6);
    border-top: 1rem solid #6C7D92;
}

.d1 {
    -webkit-transform: translateX(-50%) rotate(80deg);
    transform: translateX(-50%) rotate(80deg);
    border-bottom: 1rem solid #F5A623;
}

.d2 {
    -webkit-transform: translateX(-50%) rotate(62deg);
    transform: translateX(-50%) rotate(62deg);
    border-bottom: 1rem solid #F8E71C;
}

.d3 {
    -webkit-transform: translateX(-50%) rotate(44deg);
    transform: translateX(-50%) rotate(44deg);
    border-bottom: 1rem solid #5AB46E;
}

.d4 {
    -webkit-transform: translateX(-50%) rotate(26deg);
    transform: translateX(-50%) rotate(26deg);
    border-bottom: 1rem solid #50E3C2;
}

.d5 {
    -webkit-transform: translateX(-50%) rotate(8deg);
    transform: translateX(-50%) rotate(8deg);
    border-bottom: 1rem solid #4A90E2;
}

.d6 {
    -webkit-transform: translateX(-50%) rotate(-10deg);
    transform: translateX(-50%) rotate(-10deg);
    border-bottom: 1rem solid #6C7D92;
}

.d7 {
    -webkit-transform: translateX(-50%) rotate(-28deg);
    transform: translateX(-50%) rotate(-28deg);
    border-bottom: 1rem solid #6C7D92;
}

.d8 {
    -webkit-transform: translateX(-50%) rotate(-46deg);
    transform: translateX(-50%) rotate(-46deg);
    border-bottom: 1rem solid #6C7D92;
}

.d9 {
    -webkit-transform: translateX(-50%) rotate(-64deg);
    transform: translateX(-50%) rotate(-64deg);
    border-bottom: 1rem solid #6C7D92;
}

.d10 {
    -webkit-transform: translateX(-50%) rotate(-80deg);
    transform: translateX(-50%) rotate(-80deg);
    border-bottom: 1rem solid #6C7D92;
}

/* 长度如果有变化 需要用 transform 系列样式 覆盖 r/d 系列样式 */

.chart-item.transform1-1 {
    -webkit-transform: translateX(-50%) rotate(-82deg) scale(1.25);
    transform: translateX(-50%) rotate(-82deg) scale(1.3);
}

.chart-item.transform1-2 {
    -webkit-transform: translateX(-50%) rotate(-64deg) scale(1.25);
    transform: translateX(-50%) rotate(-64deg) scale(1.25);
}

.chart-item.transform1-3 {
    -webkit-transform: translateX(-50%) rotate(-46deg) scale(1.2);
    transform: translateX(-50%) rotate(-46deg) scale(1.2);
}

.chart-item.transform1-4 {
    -webkit-transform: translateX(-50%) rotate(-28deg) scale(1.15);
    transform: translateX(-50%) rotate(-28deg) scale(1.15);
}

.chart-item.transform1-5 {
    -webkit-transform: translateX(-50%) rotate(-10deg) scale(1.1);
    transform: translateX(-50%) rotate(-10deg) scale(1.1);
}

.chart-item.transform2-1 {
    -webkit-transform: translateX(-50%) rotate(80deg) scale(1.3);
    transform: translateX(-50%) rotate(80deg) scale(1.3);
}

.chart-item.transform2-2 {
    -webkit-transform: translateX(-50%) rotate(62deg) scale(1.25);
    transform: translateX(-50%) rotate(62deg) scale(1.25);
}

.chart-item.transform2-3 {
    -webkit-transform: translateX(-50%) rotate(44deg) scale(1.2);
    transform: translateX(-50%) rotate(44deg) scale(1.2);
}

.chart-item.transform2-4 {
    -webkit-transform: translateX(-50%) rotate(26deg) scale(1.15);
    transform: translateX(-50%) rotate(26deg) scale(1.15);
}

.chart-item.transform2-5 {
    -webkit-transform: translateX(-50%) rotate(8deg) scale(1.1);
    transform: translateX(-50%) rotate(8deg) scale(1.1);
}

.chart-item>span {
    position: absolute;
    top: -1.2rem;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    font-size: .12rem;
}

.chart-item-down>span {
    position: absolute;
    bottom: -1.2rem;
    top: auto;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    font-size: .12rem;
}

.inner-box {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -.570rem;
    margin-top: -.570rem;
    border-radius: 50%;
    width: 1.14rem;
    height: 1.14rem;
    border: 1px solid rgba(37, 64, 109, 1);
    background-color: #061734;
    display: -webkit-box;
    display: flex;
}

.inner-box .line {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    width: 1px;
    background: rgba(37, 64, 109, 1);
}

.inner-box>div {
    font-size: .14rem;
    -webkit-box-flex: 1;
    flex: 1;
    text-align: center;
    box-sizing: border-box;
    position: relative;
}

.inner-text {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.inner-num {
    font-size: .24rem;
}

/* 左侧区域 end */

/* 右侧区域 start */

.right-box {
    width: 5.85rem;
    height: 98vh;
    margin: .1rem;
}

.right-box-top {
    display: -webkit-box;
    display: flex;
    height: 5.34rem;
}

.right-box-top>div {
    -webkit-box-flex: 1;
    flex: 1;
}

.right-box-top-left {
    width: 2.88rem;
    margin-right: .1rem;
}

.right-box-top-left>div {
    height: 2.62rem;
    margin-bottom: .1rem;
}

.right-box-top-left>div:last-child {
    margin: 0
}

.achievement-chart {
    width: 2.5rem;
    height: 1rem;
    margin-top: .15rem;
}

.lease .box-title-right {
    margin-top: .08rem;
}

.lease .list {
    margin-top: .1rem;
}

.lease-list .list-item-td {
    text-align: left;
}

.lease-list .list-item-td:nth-child(2) {
    -webkit-box-flex: 1.1;
    flex: 1.1;
    text-align: right;
}

.lease-list .list-item-td:last-child {
    -webkit-box-flex: 1.3;
    flex: 1.3;
    text-align: right;
}

.mortgage .order {
    font-size: .2rem;
    margin-top: .2rem;
}

.mortgage .mortgage-normal-text {
    margin-top: .15rem;
}

.mortgage .mortgage-chart {
    width: 1.18rem;
    height: 1.18rem;
    margin: .2rem auto 0 auto;
}

.mortgage .mortgage-count {
    font-size: .12rem;
    margin-top: .05rem;
}

.mortgage .mortgage-count>span {
    font-size: .28rem;
    margin-right: .05rem;
}

.mortgage-bar {
    margin-top: .2rem;
}

.bar-single {
    width: 100%;
    overflow: hidden;
    height: .2rem;
    ;
    margin: .2rem 0;
}

.bar-single>.location {
    float: left;
    width: .7rem;
    overflow: hidden;
    text-overflow: ellipsis;
}

.bar-single>.bar {
    width: 1rem;
    height: .11rem;
    background: rgb(247, 183, 7);
    max-width: 1.4rem;
    float: left;
    margin-top: .04rem;
}

.bar-single .bar-color-1 {
    background: #F55623;
}

.bar-single .bar-color-2 {
    background: #F57923;
}

.bar-single .bar-color-3 {
    background: #FFAE3E;
}

.bar-single .bar-color-4 {
    background: #FFE014;
}

.bar-single>.percent {
    float: right;
}

.sale-box {
    margin-top: .1rem;
}

.sale-list {
    height: 1.785rem;
    margin-top: .1rem;
}

.sale-list .list-item {
    padding: 0 .1rem;
    box-sizing: border-box;
}

.sale-list .list-item-td:nth-child(4), .sale-list .list-item-td:nth-child(5) {
    padding: 1px .1rem 0 .05rem;
}

.sale-list .list-header .list-item-td {
    padding: 1px .05rem 0 .05rem;
}

/* 右侧区域 end */

/* 中间区域 start */

.middle-box {
    height: 98vh;
    -webkit-box-flex: 1;
    flex: 1;
    margin: .1rem 0;
}

.middle-top {
    overflow: hidden;
}

.middle-title {
    float: left;
    font-size: .4rem;
}

.date-picker {
    float: right;
    margin-top: .2rem;
    height: .3rem;
    width: 1.4rem;
    color: #fff;
}
.date-picker.ys-datepicker > input{
    color: #70FFF9;
    /* border: 1px solid #70FFF9 !important; */
    border: none !important;
    outline: none !important;
    padding-left: .1rem;
    font-size: .18rem;
    width: 1.5rem;
    margin-left: .15rem;
}
.date-picker > input:focus{
    box-shadow: none;
}
.ys-datetimepicker:after{
    border: none;
    left: 0;
    width: .16rem;
    display: inline-block;
    background-size: .16rem .14rem;

}


.project-info-box {
    display: -webkit-box;
    display: flex;
    margin-top: .2rem;
    font-size: .14rem;
}

.project-info-box>div {
    -webkit-box-flex: 1;
    flex: 1;
    margin-top: .1rem;
}

.project-info-box>.on-business {
    margin-right: .5rem;
}

.project-info-box>.preparation {
    margin-right: .2rem;
}

.project-info-row {
    display: -webkit-box;
    display: flex;
    margin-top: .1rem;
}

.project-info-row>.project-info-item {
    line-height: .2rem;
}

.project-info-row.data .project-info-item {
    color: #70FFF9;
    font-size: .3rem;
}

.project-info-item:first-child {
    width: .8rem;
}

.project-info-item:not(:first-child) {
    flex-basis: .5rem;
    -webkit-box-flex: 1;
    flex: 1
}

/* 地图 */

.map-box {
    margin-top: .2rem;
    height: 5.85rem;
}

.china-map {
    width: 100%;
    height: 100%;
}

.map-box {
    position: relative;
}

.map-box .map-info {
    color: #fff;
    position: absolute;
    z-index: 100;
    top: 0.6rem;
    left: 1rem;
    width: 2.78rem;
    height: 4.1rem;
    background: rgba(76, 125, 208, 0.2);
    border: 1px solid #50D3E3;
    display: none;
    box-sizing: border-box;
    padding: 0.1rem .18rem;
}

.map-box .x {
    position: absolute;
    cursor: pointer;
    right: .1rem;
    top: 0rem;
    color: #50E3C2;
    font-size: .32rem;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}

.map-box .map-location {
    font-size: .24rem;
}

.map-info-preview {
    display: -webkit-box;
    display: flex;
    margin-top: .05rem;
    font-size: .14rem;
}

.map-info-preview .num {
    font-size: .24rem;
    color: #70FFF9;
}

.project-num {
    width: .65rem;
}

.area-count {
    -webkit-box-flex: 1;
    flex: 1;
}

.map-project-tab {
    margin-top: .15rem;
    font-size: .14rem;
}

.map-project-tab>span {
    cursor: pointer;
    opacity: .7;
}

.map-project-tab>.active {
    color: #50E3C2;
    cursor: default;
}

.map-info .project-list {
    height: 2.36rem;
    font-size: .14rem;
    overflow: auto;
    margin-top: .1rem;
}

.map-info .project-list-row {
    display: -webkit-box;
    display: flex;
    box-sizing: border-box;
    padding: .025rem .1rem;
    cursor: pointer;
}

.map-info .project-list-row:hover {
    background: rgba(149, 188, 255, 0.2);
    transition: all .2s;
    -webkit-transition: all .2s;
}

.map-info .project-list-row.active {
    background: rgba(149, 188, 255, 0.2);
    color: #70FFF9;
}

.map-info .project-list-row .project-name {
    width: .7rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    float: left;
}

.map-info .project-list-row .project-date {
    width: 1.3rem;
    display: inline-block;
    float: left;
}

.map-info .project-list-row .project-area {
    width: 1rem;
    text-align: left;
    display: inline-block;
    float: right;
    margin-left: .15rem;
    text-align: right;
}

.map-box .map-info-detail {
    color: #fff;
    position: absolute;
    z-index: 100;
    top: 1.1rem;
    left: 3.9rem;
    width: 2.78rem;
    height: 3.1rem;
    background: rgba(76, 125, 208, 0.2);
    border: 1px solid #50D3E3;
    display: none;
    box-sizing: border-box;
    padding: 0.1rem .18rem;
}

.map-box .map-info-detail .x {
    position: absolute;
    right: .1rem;
    top: -.05rem;
    color: #50E3C2;
    font-size: .32rem;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}

.map-info-preview {
    flex-wrap: wrap;
    display: -webkit-box;
    display: flex;
}

.map-info-preview>div {
    width: .7rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    margin-bottom: .1rem;
}

.project-detail-list {
    height: 1.22rem;
    overflow: auto;
}

.project-detail-list-row {
    display: -webkit-box;
    display: flex;
    margin: .05rem 0;
}

.project-detail-list-row .type {
    width: .8rem;
}

.project-detail-list-row .count {
    width: .65rem;
    text-align: right;
}

.project-detail-list-row .order {
    -webkit-box-flex: 1;
    flex: 1;
    text-align: right;
}

.middle-bottom {
    display: -webkit-box;
    display: flex;
    height: 2.39rem;
    margin-top: .24rem;
}

.middle-bottom>div {
    -webkit-box-flex: 1;
    flex: 1;
    font-size: .24rem;
}

.middle-bottom-left {
    margin-right: .1rem;
}


/* 中间区域 end  */